.calculator{
    height: 340px;
    width: 240px;
    background-color: rgb(207, 203, 203);
    margin: 0 auto;
   margin-top: 50px;
    padding: 10px;
    border: 1px solid black;
}
.main-bar{
    margin-bottom: 20px;
    text-align: right;
}
.btn{
    font-size: 20px;
    cursor: pointer;
    width: 50px;
}
.line{
    margin-bottom: 10px;
}
.last input{
   width: 105px;
}
.hading-medil{
    text-align: center;
    margin-top: 40px;
}
.name-color{
    color: cornflowerblue;
}